
h6 {
  //color: #00ff00;
  font-size: 85%;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  height: 5px;
  font-weight: bold;
  //display:inline;
  }


.button1 {
  font-size: 80%;
  margin: 10px 5px;

}

.abcdef {
  //border-bottom-color:#ff0000;
  background-color:#00ffaa;
  border-color: #ff0000;
  border: 0px !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-top: none !important;
    border-bottom: none !important;
  outline-width: 6px !important;
  outline-color: #ff0000 !important;
  margin: none; 
  line-height: 40px;

}
